/**
 * Styles for the WP Admin plugin options page
 *
 * This file contains CSS.
 *
 * @link       <%= pluginUrl %>
 * @since      0.1.0
 *
 * @package    <%= nameFriendlySafe %>
 * @subpackage <%= nameFriendlySafe %>/admin/css
 */

.<%= name %>-blocks {
  counter-reset: blocks;
}

.<%= name %>-blocks::after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.<%= name %>-blocks ul,
.<%= name %>-blocks li {
  float: left;
}

.<%= name %>-blocks li {
  position: relative;
  margin: 0 8px 8px 0;
  height: 150px;
  width: 150px;
}

.<%= name %>-blocks li::before {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #000;
  counter-increment: blocks;
  content: counter(blocks);
  padding: 8px;
}

.<%= name %>-blocks li img {
  width: 150px;
  height: 150px;
}

.<%= name %>-date {
  font-size: .95em;
}

