/**
 * Styles for the public front-end
 *
 * This file contains CSS.
 *
 * @link       http://www.dotherightthing.co.nz/
 * @since      1.0.0
 *
 * @package    DTRT_Plugin_Boilerplate
 * @subpackage DTRT_Plugin_Boilerplate/public/css
 */

.wpdtrt-badges.frontend a,
.widget-area .widget .wpdtrt-badges.frontend a {
	color: #999;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: .25px;
	text-decoration: none;
}

.wpdtrt-badges.frontend a:hover,
.widget-area .widget .wpdtrt-badges.frontend a:hover {
	color: #ddd;
}

.wpdtrt-badges,
.widget-area .widget .wpdtrt-badges {
	display: table;
}

.wpdtrt-badges li,
.widget-area .wpdtrt-badges li {
	float: left;
	width: 100px;
	margin: 0 5px 5px;
	padding: 10px 0 0;
	position: relative;
	list-style: none;
}

.wpdtrt-badges .wpdtrt-badge img {
	width: 100%;
	border: none;
	box-shadow: 0 0 0 0;
}

.wpdtrt-badges .wpdtrt-badge-info {
	display: none;
	background: #3d444b;
	border-radius: 4px;
	color: #ededed;
	padding: 14px;
	width: 120px;
	position: absolute;
	z-index: 100;
	left: -22px;
	bottom: 119px;
	transition: bottom ease-out .5s;
	-webkit-transition: bottom ease-out .5s;
}

.wpdtrt-badges li:hover .wpdtrt-badge-info {
	bottom: 129px;
	transition: bottom ease-out .5s;
	-webkit-transition: bottom ease-out .5s;
}

.wpdtrt-badges .wpdtrt-badge-info .wpdtrt-tooltip.bottom {
	background: url(../images/tooltip-arrow.png) no-repeat;
	display: block;
	position: absolute;
	width: 26px;
	height: 13px;
	bottom: -8px;
	left: 59px;
	z-index: 99;
}

.wpdtrt-badge-info p.wpdtrt-badge-name,
.widget-area .widget .wpdtrt-badge-info p.wpdtrt-badge-name {
	font-size: 14px;
	line-height: 16px;
	margin:  0 0 8px;
}

.wpdtrt-badge-info .wpdtrt-badge-name a,
.widget-area .widget .wpdtrt-badge-info .wpdtrt-badge-name a {
	color: #fff;
	text-shadow: 0 0 1px #000;
}

.wpdtrt-badge-info .wpdtrt-badge-name a:hover,
.widget-area .widget .wpdtrt-badge-info .wpdtrt-badge-name a:hover {
	color: #fff
}

.wpdtrt-badge-info p.wpdtrt-badge-project,
.widget-area .widget .wpdtrt-badge-info p.wpdtrt-badge-project {
	color: #edeff0;
	font-size: 11px;
	line-height: 14px;
	margin: 0;
}

.wpdtrt-badge-info .wpdtrt-logo,
.widget-area .widget .wpdtrt-badge-info .wpdtrt-logo {
	display: block;
	width: 80px;
	padding: 20px 0 0;
}

.treehouse-badge-info .treehouse-logo img,
.widget-area .widget .treehouse-badge-info .treehouse-logo img {
	display: block;
}