/**
 * Styles for the public front-end, at the desktop breakpoint
 *
 * This file contains SCSS (CSS) and is a combination of:
 * - cherry picked site and primary-nav styles from AT project
 * - styles from the responsive-nav dropdowns demo
 *   http://samikeijonen.github.io/responsive-nav.js/demos/multiple-levels/styles.css
 * - custom CSS
 *
 * @requires    responsive-nav.css
 * @since       0.6.0
 *
 * @package     <%= nameFriendlySafe %>
 * @subpackage  <%= nameFriendlySafe %>/css
 */

.<%= name %>-items {
  counter-reset: blocks;
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
  font-size: .9em;
  padding: 8px 0 0 8px;
  margin-bottom: 8px;
}

.<%= name %>-items::before {
  content: attr(data-number) " blocks";
  display: block;
  padding-bottom: 8px;
}

.<%= name %>-items[data-number="1"]::before {
  content: attr(data-number) " block";
}

.<%= name %>-items::after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.<%= name %>-items ul,
.<%= name %>-items li {
  list-style: none;
}

.<%= name %>-items li {
  position: relative;
  float: left;
  margin: 0 8px 8px 0;
  height: 150px;
  width: 150px;
}

.widget .<%= name %>-items ul li {
  padding: 0;
  border: 0;
}

.widget .<%= name %>-items ul li + li {
  margin-top: 0; /* reset */
}

.<%= name %>-items li > a::before {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: #000;
  content: "+";
  padding: 8px;
}

.<%= name %>-items li img {
  width: 150px;
  height: 150px;
}
