/**
 * Styles for the WP Admin plugin options page
 *
 * This file contains CSS.
 *
 * @link       http://www.dotherightthing.co.nz/
 * @since      1.0.0
 *
 * @package    DTRT_Plugin_Boilerplate
 * @subpackage DTRT_Plugin_Boilerplate/admin/css
 */

.postbox img.gravatar {
  max-width: 100%;
}

.postbox .inside {
  display: table
}

.postbox .wpdtrt-badges > li {
  float: left;
  margin: 5px;
  text-align: center;
  height: 220px;
  width: 120px;
  overflow: hidden;
}

.postbox .wpdtrt-badges li li {
  margin: 2px 0;
  padding: 0;
}

.postbox .wpdtrt-badges img {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

.postbox .wpdtrt-project-name a {
  font-size: .8em;
  text-decoration: none;
  line-height: .5em
}

.postbox .wpdtrt-badges-and-points li {
  padding: 5px 10px;
  background: #474747;
  color: #ddd;
  border-radius: 20px;
  font-size: 1.2em;
  float: left;
}

.postbox .wpdtrt-badges-and-points li:first-child {
  margin-right: 5px
}

.postbox .wpdtrt-badges-and-points strong {
  color: #92ae57;
}